body{
    background-color: blanchedalmond;
}
.container{
    width: 50%;
    max-width: 300px;
}
.form-group{
    width: 100%;
    margin-top: 15px;
}
.form-group input,
.form-group textarea{
    width: 100%;
    padding: 3px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 4px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
}
textarea{
    max-width: 380px;
    max-height: 120px;
    border-radius: 6px;
}
button[type="submit"]{
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease background-color;
    font-family: 'Courier New', Courier, monospace;
}
button[type="submit"]:hover{
    background-color: blueviolet;
}
#status{
    margin-top: 10px;
}
#status.success{
    color: red;
    animation: status 4s ease forwards;
}
#status.error{
    color: red;
    width: 60px;
    background-color: rgb(36, 1, 65);
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}
