@font-face {
    font-family: 'Arial Rounded MT';
    src: url('/font/ArialRoundedMTBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akaya Kanadaka';
    src: url('/font/AkayaKanadaka-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athelas';
    src: url('/font/Athelas-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'burnfont-1.0Black';
    src: url('/font/burnfont-10Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kavivanar';
    src: url('/font/Kavivanar-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceHanSerifTC-Regular-Alphabetic';
    src: url('/font/SourceHanSerifTC-Regular-Alphabetic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('/font/Minecraftia-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Mono';
    src: url('/font/PTMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wind';
    src: url('/font/Wind-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HiraKakuStdN-W8-AlphaNum';
    src: url('/font/HiraKakuStdN-W8-AlphaNum.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.chinese1234{
    font-family: 'Wind';
}