@font-face {
    font-family: 'Arial Rounded MT';
    src: url('ArialRoundedMTBold.woff2') format('woff2'),
        url('ArialRoundedMTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akaya Kanadaka';
    src: url('AkayaKanadaka-Regular.woff2') format('woff2'),
        url('AkayaKanadaka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athelas';
    src: url('Athelas-Italic.woff2') format('woff2'),
        url('Athelas-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'burnfont-1.0Black';
    src: url('burnfont-10Black.woff2') format('woff2'),
        url('burnfont-10Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kavivanar';
    src: url('Kavivanar-Regular.woff2') format('woff2'),
        url('Kavivanar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceHanSerifTC-Regular-Alphabetic';
    src: url('SourceHanSerifTC-Regular-Alphabetic.woff2') format('woff2'),
        url('SourceHanSerifTC-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minecraftia';
    src: url('Minecraftia-Regular.woff2') format('woff2'),
        url('Minecraftia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Mono';
    src: url('PTMono-Bold.woff2') format('woff2'),
        url('PTMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wind';
    src: url('Wind-Regular.woff2') format('woff2'),
        url('Wind-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HiraKakuStdN-W8-AlphaNum';
    src: url('HiraKakuStdN-W8-AlphaNum.woff2') format('woff2'),
        url('HiraKakuStdN-W8-AlphaNum.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}