* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    padding: 9px;
    background-color: #F6F6F6;
}

.bio {
    font-family: 'Times New Roman', Times, serif;
}

.more {
    display: none;
}

.d-block {
    display: block;
}

button {
    display: block;
    margin-top: -0.8em;
    margin-left: -0.4em;
    margin-right: 1em;
    cursor: pointer;
}

label {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: 300px;
    /*border-style: solid;*/
}

.form-group {
    width: 100%;
    margin-top: 15px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 3px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 4px;
    border-radius: 6px;
    font-family: 'Courier New', Courier, monospace;
}

textarea {
    max-width: 380px;
    max-height: 120px;
    border-radius: 6px;
}

button[type="submit"] {
    margin-top: 10px;
    margin-left: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease background-color;
    font-family: 'Courier New', Courier, monospace;
}

button[type="submit"]:hover {
    background-color: rgb(208, 255, 177);
}

#status {
    margin-top: 10px;
}

#status.success {
    color: red;
    animation: status 4s ease forwards;
}

#status.error {
    color: red;
    width: 60px;
    background-color: rgb(36, 1, 65);
    animation: status 4s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    90% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

::-webkit-scrollbar {
    display: none;
}

.scroll-bg {
    background-color: transparent;
    width: 250px;
    padding: 10px;
    margin: 0;
}

.scroll-div {
    background-color: transparent;
    /*border-style: solid;*/
    width: 250px;
    height: 215px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-object {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    padding: 10px;
}

/* split.js */
.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto;
}

.content {
    border: 1px solid #09ff00;
    box-shadow: inset 0 1px 2px #ff0000;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.gutter {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.split.split-horizontal,
.gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.o {
    /* 100% fit image */
    width: 100%;
    object-fit: contain;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.bg3 {
    background-image: url('./img/bg3.png');
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
}

.tatarm {
    background-image: url('./img/tatarm.png');
    background-size: 590px;
    background-repeat: no-repeat;
    background-position: center;
}

.tatleg {
    background-image: url('./img/tatleg.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.myhead {
    background-image: url('./img/myhead.jpg');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.cookiebutton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mandarinbio {
    margin-top: 5px;
    text-align: right;
    font-size: 16px;
    font-family:'Wind';
    text-decoration: wavy overline rgb(244, 189, 189);
    line-height: 32px;
    color: rgb(255, 17, 0);
}