* {
    box-sizing: border-box;
}
button {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.eyeicon {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: rotate(-10deg);
}
.humanicon {
  position: absolute;
  top: 30%;
  left: 42%;
  transform: rotate(-20deg);
}
.brainicon {
  position: absolute;
  top: 30%;
  left: 51%;
}
.caticon {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: rotate(20deg);
}
@media screen and (max-width:968px) {
  .eyeicon {
    position: absolute;
    top: 10%;
    left: 35%;
  }
  .humanicon {
    position: absolute;
    top: 30%;
    left: 42%;
  }
  .brainicon {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .caticon {
    position: absolute;
    top: 70%;
    left: 40%;
  }
}
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); 
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  height: 650px;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close,.close2,.close3,.close4 {
  color: transparent;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,.close:focus,
.close2:hover,.close2:focus,
.close3:hover,.close3:focus,
.close4:hover,.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  color: rgb(0, 0, 0);
}
.modal-body {
  padding: 2px 16px;
}
.modal-footer {
  padding: 2px 16px;
  color: rgb(0, 0, 0);
  text-align: center;
}
.eye-columns{
  float: left;
  width: 33.33%;
  padding: 2px 16px;
  text-align: left;
}
.eye-body{
  padding: 2px 16px;
}
.eye-body:after{
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:768px) {
  .eye-columns{
    width: 100%;
  }
}
.o {
  width: 100%; /* or any custom size */
  height: 100%; 
  object-fit: contain;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}